/* CUSTOM FONTS */
@font-face {
    font-family: FaktConPro-SemiBold;
    src: url(faktconpro-semibold-webfont.ttf);
    font-weight:400;
}
@font-face {
    font-family: FaktSmConPro-SemiBold;
    src: url(faktsmconpro-semibold-webfont.ttf);
    font-weight:400;
}
@font-face {
    font-family: FaktSmConPro-Normal;
    src: url(FaktSmConPro-Normal.ttf);
    font-weight:400;
}


body {
    -webkit-text-size-adjust:100%;
    margin: 0px 17px 0px 17px;
    color: #222;
    font-size: 17px;
    line-height: 25px;
    font-family: Georgia;
    padding: 0 0px 0 0px;
}
body.small {
    font-size: 18px;
    line-height: 25px;
}
body.medium {
    font-size: 21px;
    line-height: 28px;
}
body.large {
    font-size: 24px;
    line-height: 31px;
}
a {
    color: #00709a;
    text-decoration: none;
    outline: none;
/*    -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}
a:hover {
    text-decoration: none;
}
p {
    height: auto !important;
}
/* SPACING FOR BANNER AD */
/* portrait for iPhone 4 and 5 */
@media screen and (max-width: 320px) {
    #pushbody {
        padding-left:0px !important;
    }
    div#banner1_container.pushadtop {
        margin-left: -8px !important;
        margin-bottom: 15px;
    }
    div {
        max-width:303px;
    }
    img {
        max-width: 320px;
        height: auto;
        margin-left: -17px;
    }
    .image-container img {
        float: none !important;
        display: inline-block;
        max-width: 320px;
        height: auto !important;
        margin: 0 0px 0 -17px;  /* ignore body left margin of 17 */
        width: 320px;  /* set to device width */
    }
    #banner1 {
        max-width: 320px;
        padding-top: 10px;
    }
    #banner1_container {
        margin-left: -17px;
        width: 320px !important;
        height: 70px !important;
    }
    #banner2 {
        margin: 32px 0px 40px -7px;
        max-width: 300px !important;
        width: 300px !important;
    }
    p {
        max-width: 286px !important;
    }
    h3 {
        max-width: 286px !important;
    }
    /* TEST TO GET RID OF FOUC */
    
    div#info2.clearfix {
        width: 280px !important;
    }
    iframe {
        max-width: 320px;
        margin-left: -17px;
        height: auto;
    }
    div#ooyalaplayer {
        margin-left: -17px;
        margin-bottom: 75px;
        width: 320px !important;
        height: 180px !important;
    }
    .ooyala-video-player {
        margin: 0px 0px 0px -17px;
        max-width: 320px;
        max-height: 180px;
        width: 320px !important;
        height: 180px !important;
    }
    iframe.youTubeVid {
        width: 320px !important;
        height: 190px !important;
        margin-left: -17px;
    }
    p iframe.youTubeVid {
        margin-left: -17px !important;
    }
    iframe.dailyMotionVid {
        width: 320px !important;
        height: 190px !important;
    }
    iframe.soundCloud {
        width: 320px !important;
        height: 190px !important;
    }
    iframe.vine {
        margin: 0px -17px;
        max-width: 320px !important;
        width: 320px;
        height: 250px;
    }
    iframe.huluVid {
        width: 320px !important;
        height: 190px !important;
        margin-left: -17px;
    }
    iframe.instagramPost {
        width: 320px !important;
        height: auto !important;
        margin-left: -17px;
    }
}
/* Portrait for iPhone 6 */
@media screen and (min-width: 370px) and (max-width: 400px)  {
    div {
        max-width:358px;
    }
    img {
        max-width: 375px;
        height: auto;
        margin-left: -17px;
    }
    .image-container img {
        float: none !important;
        display: inline-block;
        max-width: 375px;
        height: auto !important;
        margin: 0 0px 0 -17px;
        width: 375px;
    }
    #banner1 {
        max-width: 320px;
        padding-top: 10px;
    }
    #banner1_container {
        margin-left: -17px;
        width: 375px !important;
        height: 70px !important;
    }
    div#banner1_container.pushadtop {
        margin-left: -8px !important;
        margin-bottom: 15px;
    }
    #banner2 {
        margin: 32px 37.5px 40px 37.5px;
    }
    p {
        max-width: 341px !important;
    }
    h3 {
        max-width: 341px !important;
    }
    /* TEST TO GET RID OF FOUC */
    div#info2.clearfix {
        width: 340px !important;
    }
    iframe {
        max-width: 375px;
        margin-left: -17px;
        height: auto;
    }
    div#ooyalaplayer {
        margin-left: -17px;
        margin-bottom: 75px;
        width: 375px !important;
        height: 212px !important;
    }
    
    .ooyala-video-player {
        margin: 0px 0px 0px -17px;
        max-width: 375px;
        max-height: 212px;
        width: 375px !important;
        height: 212px !important;
    }
    
    iframe.youTubeVid {
        width: 375px !important;
        height: 217px !important;
        max-height: 212px;
        margin-left: -17px;
    }
    p iframe.youTubeVid {
        margin-left: -17px !important;
    }
    iframe.dailyMotionVid {
        max-height: 230px;
    }
    iframe.soundCloud iframe {
        width: 375px;
        max-height: 230px;
    }
    iframe.vine {
        width: 375px; !important;
        height: 335px; !important;
        margin-left: -17px;
    }
    iframe.huluVid {
        width: 375px;
        height: 211px;
        margin-left: -17px;
    }
    iframe.instagramPost {
        width: 375px;
        height: auto !important;
        margin-left:-17px;
    }
    div.vimeo-embed-container iframe {
        width: 375px !important;
        height: 217px !important;
        max-height: 230px;
        margin-left: -17px;
    }
    div.vimeo-embed-container iframe {
        width: 375px !important;
        height: 217px !important;
        max-height: 230px;
        margin-left: -17px;
    }
}
/* Portrait for iPhone 6 Plus */

@media screen and (min-width: 400px) and (max-width: 425px)  {
    div {
        max-width:397px;
    }
    img {
        max-width: 414px;
        height: auto;
        margin-left: -17px;
    }
    .image-container img {
        float: none !important;
        display: inline-block;
        max-width: 414px;
        height: auto !important;
        margin: 0 0px 0 -17px;  /* ignore body left margin of 17 */
        width: 414px;  /* set to device width */
    }
    #banner1 {
        max-width: 320px;
        padding-top: 10px;
    }
    #banner1_container {
        margin-left: -17px;
/*        background-color: #e9e9e9;*/
        width: 414px !important;
        height: 70px !important;
    }
    div#banner1_container.pushadtop {
        margin-left: -8px !important;
        margin-bottom: 15px;
    }
    #banner2 {
        margin: 42px 57px 40px 57px;
    }
    p {
        max-width: 380px !important;
    }
    h3 {
        max-width: 380px !important;
    }
    /* GET RID OF FOUC */
    div#info2.clearfix {
        width: 378px !important;
    }
    iframe {
        max-width: 414px;
        margin-left: -17px;
        height: auto;
    }
    div#ooyalaplayer {
        margin-left: -17px;
        margin-bottom: 75px;
        width: 414px !important;
        height: 234px !important;
    }
    .ooyala-video-player {
        margin: 0px 0px 0px -17px;
        max-width: 414px;
        max-height: 234px;
        width: 414px !important;
        height: 234px !important;
    }
    iframe.vine {
        width: 414px; !important;
        height: 280px; !important;
        max-width: 414px; !important;
        margin: 0 -17px;
    }
    iframe.youTubeVid {
        width: 414px !important;
        height: 240px !important;
        margin-left: -17px;
    }
    p iframe.youTubeVid {
        margin-left: -17px; !important;
    }
    iframe.dailyMotionVid {
        width: 414px !important;
        height: 240px !important;
    }
    iframe.huluVid {
        width: 414px;
        height: 240px;
        margin-left: -17px; !important;
    }
    iframe.instagramPost {
        width: 414px;
        height: auto !important;
        margin-left: -17px; !important;
    }
    div.vimeo-embed-container iframe {
        width: 414px !important;
        height: 240px !important;
        margin-left: -17px;
    }
    div.vimeo-embed-container iframe {
        width: 414px !important;
        height: 240px !important;
        margin-left: -17px;
    }
    iframe.soundCloud {
        width: 414px !important;
        height: 240px !important;
    }
}
article {
    font-family: Georgia;
    font-size: 1.05em;
    font-weight: Normal;
}
article i,
article em {
    font-family: Georgia-Italic;
}
/* Title */
article h1:first-child {
    margin: 30px 0px 12px 0px;
    font-family: FaktConPro-SemiBold;
    font-size: 35px;
    line-height:37.5px;
    font-weight: Normal;
}
/* h2 and h3 */
h2 {
    font-family: "FaktConPro-SemiBold";
    font-size: 1.4em;
    line-height:1.05em;
    font-weight: Normal;
}

h3 {
    font-family: "FaktConPro-SemiBold";
    font-size: 1.4em;
    line-height:1.05em;
    height: auto !important;
    font-weight: Normal;
}
div.margin-top {
    height: auto !important;
}
/* Author */
#info {
    clear: both;
    margin: 0px 0px 0px 0px;
    font-family: "FaktSmConPro-Normal";
    font-weight: normal;
    color: #333333;
    font-size: 0.9em;
    line-height:1.0em;
}
/* Time, Hits, and Comments */
#info2 {
    float: left;
    clear: both;
    margin: 15px 0px 32px 0px;
    font-family: "FaktSmConPro-Normal";
    font-weight: normal;
    color: #999999;
    min-width: 280px;
    font-size: 0.80em;
    line-height:1.0em;
    min-width: 280px;
}
.portrait5 div#info2.clearfix {
    width: 280px !important;
}
.portrait6 div#info2.clearfix {
    width: 340px !important;
}
.portrait6plus div#info2.clearfix {
    width: 378px !important;
}
#info2 span {
    float: left;
    margin-right: 10px;
}
.focus {
    width: .769230769em;
    height:.769230769em;
    margin-top: .15em;
}
/*@media only screen and (-webkit-min-device-pixel-ratio: 2) {*/
.publish-date {
    /*        color: #f3502a;*/
    padding: 0 0 0 0.95em;
    background-size:0.715em 0.715em;
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.hours-min {
    margin-left: -0.45em;
    padding: 0 0 0 0.77em;
    background-size:0.54em 0.84em;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: url(barIcon.png);
}
.view-count {
    padding: 0 0 0 0.82em;
    background-size:0.51em 0.86em;
    background-repeat: no-repeat;
    background-position: 0px -1px;
}
.comment-count {
    color: #999999;
    padding: 0 0 0 1.0em;
    background-image: url(Message_Icon@2x.png);
    background-position: 0 0.05em;
    background-repeat: no-repeat;
    background-size: 0.8em 0.75em;
}
.portrait5 img {
    max-width: 320px;
    height: auto;
    margin-left: -17px;
}
.portrait6 img {
    max-width: 375px;
    height: auto;
    margin-left: -17px;
}
.portrait6plus img {
    max-width: 414px;
    height: auto;
    margin-left: -17px;
}
.portrait5 .image-container img {
    float: none !important;
    display: inline-block;
    max-width: 320px;
    height: auto !important;
    margin: 0 0px 0 -17px;  /* ignore body left margin of 17 */
    width: 320px;  /* set to device width */
}
.portrait6 .image-container img {
    float: none !important;
    display: inline-block;
    max-width: 375px;
    height: auto !important;
    margin: 0 0px 0 -17px;
    width: 375px;
}
.portrait6plus .image-container img {
    float: none !important;
    display: inline-block;
    max-width: 414px;
    height: auto !important;
    margin: 0 0px 0 -17px;  /* ignore body left margin of 17 */
    width: 414px;  /* set to device width */
}
/* Heading Caption */
article .image-container p.caption {
    /*    margin: 0px 0px 14px -9px;*/
    text-align: left;
    color: #445055;
    font-family: "FaktSmConPro-SemiBold";
    line-height: 1.25em;
}

p.caption {
    margin: 0px 0px 0px 0px;
    text-align: left;
    color: #445055;
    font-family: "FaktSmConPro-SemiBold";
    line-height: 1.25em;
    height: auto !important;
}
/* Photo Credit */
article .image-container p.source {
    margin: -7px 0 0 0;
    color: #1f6e8c;
    text-align: right;
    font-family: HelveticaNeue;
    font-size: 9px;
    line-height: 18px;
    font-weight: normal;
}
.portrait5 iframe {
    max-width: 320px;
    margin-left: -17px;
    height: auto;
}

.portrait6 iframe {
    max-width: 375px;
    margin-left: -17px;
    height: auto;
}

.portrait6plus iframe {
    max-width: 414px;
    margin-left: -17px;
    height: auto;
}


div.tablediv {
    overflow-y: scroll;
}

/* OOYALA PLAYER */
/* for linked ooyalaplayer at top of post */
.portrait5 div#ooyalaplayer {
    margin-left: -8.5px;
    margin-bottom: 75px;
    width: 320px !important;
    height: 180px !important;
}
.portrait6 div#ooyalaplayer {
    margin-left: -8.5px;
    margin-bottom: 75px;
    width: 375px !important;
    height: 212px !important;
}
.portrait6plus div#ooyalaplayer {
    margin-left: -8.5px;
    margin-bottom: 75px;
    width: 414px !important;
    height: 234px !important;
}
/* other embedded ooyala players */
.portrait5 .ooyala-video-player {
            /* Taboola */
    margin: 0px 0px 20px 0px;
    max-width: 320px;
    max-height: 180px;
    width: 286px !important;
    height: 180px !important;
}
.portrait6 .ooyala-video-player {
            /* Taboola */
    margin: 0px 0px 20px 0px;
    max-width: 375px;
    max-height: 212px;
    width: 341px !important;
    height: 212px !important;
}
.portrait6plus .ooyala-video-player {
            /* Taboola */
    margin: 0px 0px 20px 0px;
    max-width: 414px;
    max-height: 234px;
    width: 380px !important;
    height: 234px !important;
}
/* OTHER MEDIA */
/* TWITTER */
.twitter-tweet {
    height: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.portrait5 .twitter-video {
    margin-left: 17px !important;
    width: 286px;
    min-width: 10px !important;
}

.portrait6 .twitter-video {
    margin-left: 17px !important;
    width: 341px;
    min-width: 10px !important;
}

.portrait6plus .twitter-video {
    margin-left: 17px !important;
    width: 380px;
    min-width: 10px !important;
}

@media screen and (max-width: 320px) {
    .kWidgetIframeContainer[style] {
        max-width: 320px !important;
        max-height: 180px !important;
        margin-left: -17px;
    }
}
@media screen and (min-width: 321px) and (max-width: 480) {
    iframe.youTubeVid[style] {
        width: 420px !important;
        height: 250px !important;
        margin: 0 0 0 -17px;
        display: block;
    }
    iframe.youTubeVid {
        width: 420px !important;
        height: 236px !important;
        display: block;
    }
    .kWidgetIframeContainer[style] {
        max-width: 420px !important;
        max-height: 236px !important;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
iframe.youTubeVid {
    width: 320px;
    height: 190px;
}
iframe.portrait5.youTubeVid {
    width: 320px !important;
    height: 190px !important;
    margin-left: -17px;
}
p iframe.portrait5.youTubeVid {
    margin-left: -17px !important;
}
/* SOUNDCLOUD, VINE, HULU, VIMEO, INSTAGRAM */
iframe.portrait5.dailyMotionVid {
    width: 320px !important;
    height: 190px !important;
}
iframe.portrait5.soundCloud {
    width: 320px !important;
    height: 190px !important;
}
iframe.portrait5.vine {
    margin: 0px -17px;
    max-width: 320px !important;
    width: 320px;
    height: 250px;
}
iframe.portrait5.huluVid {
    width: 320px !important;
    height: 190px !important;
    margin-left: -17px;
}
iframe.portrait5.instagramPost {
    width: 320px !important;
    height: auto !important;
    margin-left: -17px;
}
div.vimeo-embed-container iframe {
    width: 320px !important;
    height: 189px !important;
    max-height: 250px;
    margin-left: -17px;
}
iframe.portrait6plus.vine {
    width: 414px; !important;
    height: 280px; !important;
    max-width: 414px; !important;
    margin: 0 -17px;
}
iframe.portrait6.youTubeVid {
    width: 375px !important;
    height: 217px !important;
    max-height: 212px;
    margin-left: -17px;
}
p iframe.portrait6.youTubeVid {
    margin-left: -17px !important;
}
iframe.portrait6.dailyMotionVid {
    max-height: 230px;
}
iframe.portrait6.soundCloud iframe.portrait6 {
    width: 375px;
    max-height: 230px;
}
iframe.portrait6.vine {
    width: 375px; !important;
    height: 335px; !important;
    margin-left: -17px;
}
iframe.portrait6.huluVid {
    width: 375px;
    height: 211px;
    margin-left: -17px;
}
iframe.portrait6.instagramPost {
    width: 375px;
    height: auto !important;
    margin-left:-17px;
}
div.vimeo-embed-container iframe.portrait6 {
    width: 375px !important;
    height: 217px !important;
    max-height: 230px;
    margin-left: -17px;
}
.portrait6 div.vimeo-embed-container iframe {
    width: 375px !important;
    height: 217px !important;
    max-height: 230px;
    margin-left: -17px;
}
iframe.portrait6plus.youTubeVid {
    width: 414px !important;
    height: 240px !important;
    margin-left: -17px;
}
p iframe.portrait6plus.youTubeVid {
    margin-left: -17px; !important;
}
iframe.portrait6plus.dailyMotionVid {
    width: 414px !important;
    height: 240px !important;
}
iframe.portrait6plus.huluVid {
    width: 414px;
    height: 240px;
    margin-left: -17px; !important;
}
iframe.portrait6plus.instagramPost {
    width: 414px;
    height: auto !important;
    margin-left: -17px; !important;
}
div.vimeo-embed-container iframe.portrait6plus {
    width: 414px !important;
    height: 240px !important;
    margin-left: -17px;
}
.portrait6plus div.vimeo-embed-container iframe {
    width: 414px !important;
    height: 240px !important;
    margin-left: -17px;
}
iframe.portrait6plus.soundCloud {
    width: 414px !important;
    height: 240px !important;}
.mwEmbedKalturaIframe {
    margin-left: 0px;
}
.soundCloud {
    margin-right:auto !important;
    margin-left:auto !important;
    display: block;
}
/* FOOTER / SLIDESHOW */
article, footer {
    clear: both;
    display: block;
}
article #slideshow-link {
    display:block;
    position: relative;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
article #slideshow-text-link {
    font-family: "FaktConPro-SemiBold";
    font-size: 1.4em;
    line-height:1.05em;
    padding: 20px 0px 20px 0px;
}
article #slideshow-text {
    font-family: "FaktConPro-SemiBold";
    font-size: 1.4em;
    line-height:1.05em;
    padding: 20px 0px 20px 0px;
    margin-bottom: 5px;
}
article #slideshow-overlay {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    text-indent: -1000px;
    vertical-align: middle;
    width: 100%;
}
/* COMMENTS */
.comments_link {
    font-family: "FaktSmConPro-SemiBold";
    font-size: 19px;
    margin-top: 22px;
    margin-bottom: 17px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 5px;
    width: auto;
    color: #00000;
}
.comments_link a {
    color: #000000;
}
/* Bottom section */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*TABOOLA*/
.taboola-divider {
    border-top: 1px solid #cccccc;
    margin: 10px 0px 15px 0px;
}
.divider {
    border-top: 1px solid #cccccc;
        /*TABOOLA*/
    margin: 10px 0px 5px 0px;
}
.divider2 {
    border-top: 1px solid #cccccc;
    margin: 0px 0px 12.5px 0px;
}
.recommended {
    margin: 0px 0px 0px 0px;
    padding-top: 7px;
    padding-bottom: 13px;
}
.tout {
    float: left;
    width: 97.50%;
    margin-left: 7px;
}
div.footer-content {
    margin-left: -7px;
    margin-right: -1px;
}
.see-also {
}
.see-also > h2 {
    padding-bottom: 12px;
}
.see-also ul {
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 320px)  {
    .see-also ul li {
        margin-bottom: 12px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 12px;
        list-style-type: none;
        height: auto !important;
        
        width: 286px !important;
    }
    div.footer-content {
        max-width: 286px !important;
    }
}
@media screen and (min-width: 375px) {
    .see-also ul li {
        margin-bottom: 12px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 12px;
        list-style-type: none;
        height: auto !important;
    }
}
.see-also ul li a {
    color: #222;
    font-size: 1.2em;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.see-also ul li a p {
    margin: 0;
}
.see-also img {
    display: block;
    float: right;
    margin-right: 0px;
    margin-top: 4.5px;
    margin-bottom: 4.5px;
    margin-left: 0px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    background-repeat: no-repeat;
    
}
.see-also .text {
    float: left;
    font-family: "FaktSmConPro-SemiBold";
    font-size: 19px;
    line-height: 22.5px;
    margin-top: 2px;
/*    margin-left: 5.5px; */
}

@media screen and (min-width: 400px) {
    .see-also .text {
        width: 70%;
    }
}
@media screen and (min-width: 375px) {
    .see-also .text {
        width: 66%;
    }
}
@media screen and (max-width: 320px)  {
    .see-also .text {
        width: 58.8064516%;
    }
}

.about-author img {
    display: block;
    float: left;
    width: 80px;
    padding: 0 0 10px 0;
    margin-right: 10px;
}
.about-author .text {
    float: left;
    width: 68.8064516%;
    font-family: "FaktSmConPro-SemiBold";
    font-size: 1.2em;
}
.about-author .text p {
    margin: 0 0 15px 0;
}

.morePadding {
    display: block;
    height: 400px;
    margin: 100px;
}

