body {
    margin: 0px;
}

iframe {
    max-width: 276px;
    max-height: 180px;
}

@media screen and (min-width: 321px) and (max-width: 480) {
    iframe {
        max-width: 420px;
        max-height: 236px;
        margin-left: 14px;
    }
}

@media screen and (min-width: 500px) {
    iframe {
        max-width: 420px;
        max-height: 236px;
        margin-left: 50px;
    }
}
